.banner{
    margin: 0;
    padding: 0;
    height: 450px;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../../Image/bannerbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
.banner-text{
    height: 100%;
    width: 100%;
}
.menu-item{
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    color: #000;
}
.menu-item:hover{
    color: rgb(255, 0, 140);
}
.abt-btn{
    outline: none;
    color: rgb(6, 116, 241);
    border: none;
    font-weight: bold;
    font-size: 14px;
}
.fas{
    color:rgb(255, 0, 140);
    font-size: 18px;
    margin-left: 10px;
}