.banner{
    margin: 0;
    padding: 0;
    height: 450px;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../../Image/bannerbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
.banner-text{
    height: 100%;
    width: 100%;
}
.menu-item{
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    color: #000;
}
.menu-item:hover{
    color: rgb(255, 0, 140);
}
.search-input{
    width: 325px;
    border-radius: 40px;
    
}
.search-input input{
    width: 100%;
    padding: 10px;
    background: #fff;
    outline: none;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
}
.search-input button{
    width: 150px;
    padding: 10px;
    background: rgb(206, 3, 88);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-left: -50px;
}
.abt-btn{
    outline: none;
    color: rgb(6, 116, 241);
    border: none;
    font-weight: bold;
    font-size: 14px;
}
.fas{
    color:rgb(255, 0, 140);
    font-size: 18px;
    margin-left: 10px;
}
